body{
    background-color: palegreen;
}
p{
    background-color: papayawhip;
    color:slateblue;
}
#a{
    color: dimgray;
    ;
}
header{
    background-color: peachpuff;
    text-decoration:none
}